---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { ArticleFetcher } from "../articles/fetcher";
const articles = ArticleFetcher();
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="mt-5 grid grid-cols-1 md:grid-cols-2">
			{
				articles.map((article) => (
					<Card
						title={article.title}
						body={article.body}
						thumbnail={article.thumbnail}
						href={article.href}
						publishedAt={article.publishedAt}
						labels={article.labels}
					/>
				))
			}
		</div>
	</main>
</Layout>
